.header {
  width: 100vw;
  height: 80vh;
  display: grid;
  background-color: #333333;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  color: white;
}

@font-face {
  font-family: "Brush King";
  src: local("Brush King"),
    url(/src/Fonts/BrushKing/Brush\ King.otf) format("otf");
}

@font-face {
  font-family: "coolvetica";
  src: local("coolvetica"),
    url(/src/Fonts/Coolvetica/coolvetica\ rg.ttf) format("ttf");
}

.title {
  text-align: left;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  padding-left: 2rem;
  grid-column: 1 /6;
  background-color: brown;
  font-family: "Brush King";
}

.nav {
  text-align: right;
  padding: 0.5rem;
  grid-column: 6 /13;
  background-color: brown;
}

.nav ul {
  font-family: coolvetica;
  float: right;
  list-style: none;
}

.nav ul li {
  letter-spacing: 0.15rem;
  font-size: 1rem;
  margin-right: 2rem;
  padding-top: 0.7rem;
  float: left;
}

.tabletopcontainer {
  grid-column: 1 / 5;
  grid-row: 2 / 13;
  background-color: darkblue;
}

.tabletopcard {
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 1.5rem;
  background-color: darkcyan;
}

.tabletopimg {
  width: 100%;
  padding-top: 2rem;
}

.paradecontainer {
  grid-column: 5 / 9;
  grid-row: 2 / 13;
  background-color: rgb(28, 102, 44);
}

.showcasecontainer {
  grid-column: 9 / 13;
  grid-row: 2 / 13;
  background-color: rgb(82, 10, 52);
}
